{% extends 'base.html' %}

{% block content %}

<div>
<form method="POST" action="">
{% csrf_token %}
<!-- <div class="mb-3"> -->
<!--   <label   class="form-label">Username</label> -->
<!--   <input type="text" class="form-control" name="username" placeholder=""> -->
<!-- </div> -->
<!-- <div class="mb-3"> -->
<!--   <label class="form-label">Password</label> -->
<!--   <input type="password" class="form-control" name = "password" placeholder=""> -->
<!-- </div> -->
{{ form.as_p }}


<button type="submit" class="btn btn-primary">{{ action }}</button>
</form>
<br>
    {% if action == 'Login' %}
        <p>Havent signed yet?</p>
        <a a href ="{% url 'register' %}" >Create Account</a>
    {% else %}
        <p> Have a account? <p>
        <a href="{% url 'login' %}">Log in</a>
{% endif %}
</div>
{% endblock %}